{project_plugins, [erlfmt]}.
{erlfmt, [write]}.
{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [lab3]}
]}.

{dialyzer, [
    {plt_apps, all_apps},
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        overspecs,
        underspecs,
        specdiffs,
        no_return,
        unmatched_returns
    ]}
]}.
