name: Erlang CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dir: [ 'lab1', 'lab2', 'lab3' ] 
    defaults:
      run:
        working-directory: ${{ matrix.dir }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Erlang
      uses: erlef/setup-beam@v1
      with:
        otp-version: 25.3
        rebar3-version: 3.18.0
    - name: Compile
      run: rebar3 compile
    - name: Format check
      run: rebar3 fmt -c
    - name: Run tests
      run: rebar3 do eunit, ct
